@using Microsoft.AspNetCore.Identity
@using ljcProject5.Areas.Identity.Data

@inject SignInManager<ljcProject5User> SignInManager
@inject UserManager<ljcProject5User> UserManager


@if (SignInManager.IsSignedIn(User))
{
    <form id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Student", new { area = "" })">
        <button id="logout" type="submit" class="btt-primary">Logout</button>
    </form>
    
}
