
@{
    ViewData["Title"] = "Faculty";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Meta -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Style Sheets -->
    <link rel="stylesheet" href="/css/facultyadmin.css">

    <!--JS-->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js" integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY=" crossorigin="anonymous"></script>
    <script src="/js/loadfaculty.js"></script>
</head>
<body>
    <h1 id="greet"></h1>
    <div id="advisees"></div>
    <partial name="_LoginPartial" />
</body>
</html>