@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "_accountLayout";
}

<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <h2>Create a new account.</h2>
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="login-cred">
        <label asp-for="Input.UserName">
            <input asp-for="Input.UserName" autocomplete="username" aria-required="true" />
            <span>Username</span>
            <span asp-validation-for="Input.UserName" class="text-danger"></span>
        </label>
        <label asp-for="Input.Email">
            <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
            <span>Email</span>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </label>
        <label asp-for="Input.Password">
            <input asp-for="Input.Password" autocomplete="new-password" aria-required="true" />
            <span>Password</span>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
        </label>
        <label asp-for="Input.ConfirmPassword">
            <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" />
			<span>Password</span>
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </label>
    </div>
    <section>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
    </section>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
